
@import "nib"
@import "normalize.styl"
@import "icons.styl"
@import "devices.styl"
@font-face {
	font-family: 'montserratbold';
	src: url('../fonts/montserrat-bold-webfont.eot');
	src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-bold-webfont.woff') format('woff'),
		 url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
		 url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'montserratregular';
	src: url('../fonts/montserrat-regular-webfont.eot');
	src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-regular-webfont.woff') format('woff'),
		 url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
		 url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

$lima = #a9bf04
$amarillo = #ffc43a
$turquesa = #63ad73
$oscuro = #3b434e
$naranja = #f39c12

body
	background #f8f8f8
	font-family Arial

h1
	font-family 'montserratbold'
p 
	line-height 1.5em

header
	height 60px
	transition: all .3s 
	position absolute
	width 100%
	z-index 100

	#logo
		
		width 200px
		margin-top 10px
		margin-left 10px
	#btn_nav
		position absolute
		right 20px
		top 20px
		font-size 1.5em
		cursor pointer
		background $oscuro
		padding .3em
		color #FFF


		.icon-menu
			vertical-align middle
			color $azul
	#menu
		
		margin-top 10px
		transition: all .3s
		display none

		ul 
			margin 0
			padding 0

			li 
				display block
				//border-top 2px solid transparent
				text-align center
				background $turquesa

				a 
					display block
					padding 1.5em .4em
					text-decoration none
					color #fff
					font-family 'montserratregular'
					font-size 13px
					text-transform uppercase
					
					
				&:hover 
					background $oscuro
			.current
				background $oscuro

#home
	background-image url('../img/bg_home.jpg')
	background-attachment fixed
	background-color $lima
	background-position center  center
	background-repeat no-repeat
	background-size cover, cover

	article
		position relative
		top 100px

		#info
			width 100%
			//padding .5em
			
			h1
				font-size 2.5em
				text-transform uppercase
				line-height 1em
				color #fff
				margin 0
			p 
				color #fff
				
			a 
				display block
				//position relative
				//left 22%
				
				

				
		#devices-animation
			position absolute
			right 80px
			display none
#services
	#services-info
		margin-top 40px
		.service 
			display block
			width 100%
			//margin 1em
			

			.icon
				text-align center
				display block
				font-size 4em
				color $turquesa
			h3 
				text-align center
				font-size 1.2em
				font-weight bold
				margin-top 10px
				margin-bottom 0
			p 
				text-align center
#works
	background $oscuro
	//height 984px
	h1, p
		color #fff

	
	#works-gallery
		
		#select-gallery
			color #FFF
			font-size 14px
			padding 10px
			background #303843
			border-radius 10px
			border none
			width 96%
			margin .5em
			
		.tabs
			
			width 390px
			margin 100px auto 0
			height 30px
			position relative
			display none



			input 
				cursor pointer
				height 40px
				left 0px
				opacity 0
				position absolute
				top 0px
				width 90px
				z-index 1000

			#tab-2
				left 90px

			#tab-3
				left 189px

			#tab-4
				left 284px

			label 
				
				border-radius 10px
				color #FFF
				display block
				float left
				font-size .8em
				height 30px
				letter-spacing 1px
				line-height 30px
				padding 5px 0px
				position relative
				text-align center
				text-transform uppercase
				transition all 0.5s ease
				width 90px
				margin-right 5px



			input:hover + label 
				color $lima
			
		 
			label:first-of-type 
				z-index 4

		 
			.tab-label-2 
				z-index 3
			

			.tab-label-3 
				z-index 2
			
		 
			.tab-label-4 
				z-index 1

			label:after 
				bottom -2px
				content ''
				display block
				height 2px
				left 0
				position absolute
				width 100%

			input:checked + label 
				background $turquesa
				color #FFF
				z-index 6

		.trabajo
			
			display inline-block
			//height 150px
			
			position relative
			vertical-align top
			width 50%//16.84%//270px
			overflow hidden
			
			.botones
				display block
				left 30%
				position absolute
				top 40%

			.overlay
				background rgba(59,67,78,0.4)
				display block
				height 98%
				position absolute
				transition all 0.5s ease
				width 100%
				top 0

			figure img
				height 100%
				width 100%


			a
				color white
				text-decoration none
				display block

			a:hover
				text-decoration underline


		.trabajo:hover .overlay
			top -180px

		/*.trabajo:hover .botones
			display block*/

		.pagination
			margin: 15px auto;
			text-align center
		#results-content
			min-height 375px !important
#about
	#info-about,#legend
		display inline-block
		vertical-align top
	#info-about
		width 650px
		margin-right 30px
		margin-top 30px
	#legend
		font-size 1.5em
		color $turquesa
		width 275px
#testimonials
	background url('../img/bg_testimonials.jpg') repeat $oscuro
	height 450px
	color white
	margin-top 30px
	display none

	#testimonial-wrapper
		width 750px
		margin 0 auto
		padding-top 120px
	
	.icon-uniF6BA
		font-size 5em
		color white
		display inline-block
		margin-top 10px
		margin-right 10px
	#slider-testimonials
		display inline-block
		vertical-align top
		width 600px
		font-size 18px
		.border-title
			width 600px
			position absolute
			top -25px
		#testimonial-pager 
			a 
				font-size: 12px;
				padding: 6px;
				border-radius: 50%;
				display inline-block
				color $oscuro
				cursor pointer
				border 1px solid white
				background-color transparent
				margin 0 3px

			.cycle-pager-active 
				background-color #fff
.page_about #testimonials 
	background-image url('../img/bg_home.jpg')
	background-attachment fixed
	background-color $lima
	background-position center  center
	background-repeat no-repeat
	background-size cover, cover

#news
	display none
	#last-post
		margin-top 40px
		ul 
			list-style none

			li
				margin 30px 0

				a 
					color $oscuro
					text-transform uppercase
					text-decoration none
					display block 
					font-weight bold
					&:hover
						text-decoration underline

				span 
					display inline-block
					color #959595
					font-size 13px

				.date-post
					margin-right 10px

#contact
	background url('../img/bg_avotz.png') no-repeat top right $oscuro
	h1, p, h3
		color #fff

	#info-form
		width 95%//450px
		padding-bottom 160px

		.form-input-block
			margin-bottom 15px
			position relative

			input,textarea 
				color #666
				font-size 14px
				padding 10px
				background #303843
				border-radius 10px
				border none
				width 100%
			textarea
				height 90px

			button, input[type=submit]
				position absolute
				right 0
	#up-arrow
		background #303843
		border-radius 10px 10px 0 0
		padding .5em
		width 25px 
		height 25px
		font-size 1.5em
		color #545c68
		display block
		text-decoration none


#footer
	background #303843
	text-align center
	position relative
	min-height 400px
	.border-title
		display inline-block
	figure
		margin-bottom 20px

	#social
		text-align center
		a 
			text-decoration none
			color #959595
			font-size 2em
			display inline-block
			margin 5px
	#copyright
		position absolute
		bottom 0
		height 40px
		width 100%
		background #282f38
		color #959595

		#copyright-wrapper
			margin 0 auto

		p 
			margin 10px 0
			font-size 13px
			
	
		
.wrapper
	margin 0 auto
	max-width 960px

.section-page
	min-height 450px

	.wrapper

	> article
		
		padding-top 50px
		padding-left 1em
		padding-right 1em
		h1 
			font-size 2.5em
			text-transform uppercase
			line-height 1em
			color $oscuro
			margin 0
			text-align center
.page_services, .page_works, .page_about, .page_contact
		.section-page
			.wrapper
				padding-top 100px
				

.btn_yellow
	background $amarillo
	padding 1em 4em
	border-radius 10px
	box-shadow 2px 3px 1px $naranja
	text-decoration none
	color #b26500
	font-weight bold
	min-width 98px
	text-align center
	display inline-block

.border-title
	height 8px
	width 200px
	background $turquesa
	display block
	margin 20px auto
.white-space-fix
	margin-right -4px
	margin-bottom -4px
.afix header
	background $turquesa
	height 70px
.form-btn
	background transparent
	border-radius 10px
	border 1px solid $turquesa
	padding .5em 1em
	color $turquesa
.error
	color $naranja
	font-size 13px
.ok
	color $lima
	

@import "responsive.styl"	
@import "shadowbox.styl"
@import "jPages.styl"