@media only screen and (min-width:  480px) 
	.list-items
		li 
			width 33.33%
	.item_text
		&:after
			bottom -15px
			margin-left -16px
			border-left 16px solid transparent
			border-right 16px solid transparent
			border-top 16px solid #fff


	
@media only screen and (min-width:  750px) 
	header
		position fixed
		#logo 
			float left
		#btn_nav
			display none
		#menu
			float right
			margin-top 10px
			transition: all .3s
			display block !important

			ul 
				margin 0
				padding 0

				li 
					display inline-block
					vertical-align top
					border-top 2px solid transparent
					background transparent

					a 
						display block
						padding 1.5em .4em
						text-decoration none
						color #fff
						font-family 'montserratregular'
						font-size 13px
						text-transform uppercase
						
						
					&:hover 
						border-top-color #FFF
						background transparent
						
				.current
					border-top-color #FFF
					background transparent
	#home
		article
			#info
				width 350px
				position absolute
				//padding 0
					
					
				a 
					left 33px
			#devices-animation
				display block
				right 100px
	#services
		#services-info
			
			.service 
				display inline-block
				vertical-align top
				width 270px
				margin 1em

	#testimonials
		display block
	#news
		display block
	
	.section-page
		.wrapper

		> article
			padding-top 100px
			padding-left 0
			padding-right 0
			h1
				text-align left
	.border-title
		margin 20px 0
			

@media only screen and (min-width:  870px) 
	header
		#menu
			ul 
				li
					margin .5em .5em 0
					

	
						
@media only screen and (min-width:  1100px)
	#home
		article
			#info
				width 475px
				position absolute
				padding 0
				h1
					font-size 4em	
					
				
			#devices-animation
				right 0

@media only screen and (min-width:  1400px)
	.list-items
		li 
			a 
				.info
					padding: 2em;
					

						