

.pagination
  margin: 15px 0

.pagination a
  display: inline-block
  font-size: 12px
  cursor: pointer
  margin: 0 5px
  color: #333
  padding 8px
  border-radius: 50%
  background-color transparent
  border 1px solid white

.pagination a:hover
  background-color: $turquesa
  color: #fff

.pagination a.jp-previous
  margin-right: 15px


.pagination a.jp-next
  margin-left: 15px

.pagination a.jp-current, a.jp-current:hover
  color: #FF4242
  font-weight: bold
  background-color: #FFF

.pagination a.jp-disabled, a.jp-disabled:hover
  color: #bbb

.pagination a.jp-current, a.jp-current:hover,
.pagination a.jp-disabled, a.jp-disabled:hover
  //cursor: default
  //background: none

.pagination span
  margin: 0 5px

