@media only screen and (min-width:  480px) 
	#works
		#works-gallery
			#select-gallery
				display none

			.tabs
				display block

	
@media only screen and (min-width:  750px) 
	.header
		position fixed 
		
		#logo 
			float left
		
		#btn_nav
			display none
		
		#menu
			display block !important
			float right
			margin-top 10px
			transition: all .3s

			ul 
				margin 0
				padding 0

				li 
					background transparent
					border-top 2px solid transparent
					display inline-block
					vertical-align top

					a 
						color #fff
						display block
						font-family 'montserratregular'
						font-size 13px
						padding 1.5em .4em
						text-decoration none
						text-transform uppercase
						
						
					&:hover 
						background transparent
						border-top-color #FFF
						
				.current
					background transparent
					border-top-color #FFF
	#home
		article
			padding 0 1em
			top 100px
			
			#info
				position absolute
				width 350px
	
				a 
					display inline-block
					left 33px
					position relative

			#devices-animation
				display block
				right 100px

	#services
		blockquote
			float right
			.icon
				font-size 12em
		.service
			h1
				font-size 2.5em
			.border-title 
				width 600px
			
		#services-info
			.service 
				display inline-block
				margin 0 1em 1em 1em
				vertical-align top
				width 270px

				
				

	#testimonials
	#news
		display block
	#testimonials
		#testimonial-wrapper
			width 750px
			padding-top 120px
			padding-left 0
		.icon-bubbles
			display inline-block
			margin-top 10px
			font-size 5em
		
		
		#slider-testimonials
			font-size 16px
			width 600px

			.border-title
				width 600px

			#testimonial-pager
				top -265px 

	#contact
		#info-form
			width 450px

			address
				position absolute
				right -490px

	#works
		#works-gallery
			.tabs
				width 560px
				
				input 
					width 120px

				label 
					padding 5px 10px
					margin-right 30px
			
				#tab-2
					left 135px

				#tab-3
					left 275px

				#tab-4
					left 415px

			.trabajo
				width 33.64%//16.84%//270px
	
	
	.section-page
		min-height 650px

		.wrapper
			padding-top 65px
			
			h1
				text-align left
	.border-title
		margin 20px 0
	
			

@media only screen and (min-width:  870px) 
	.header
		#menu
			ul 
				li
					margin .5em .5em 0
					
					&:last-child
						margin-right 0
	
	#services
		
		.services-video
			width 20em
			
		#services-info
			margin-top 40px
			width 39em
			margin-left .5em

			.service 
				&:nth-child(even)
						margin-right 0


	
					

	
						
@media only screen and (min-width:  1100px)
	#home
		article
			#info
				padding 0
				position absolute
				width 475px
				
				h1
					font-size 4em	
					
				
			#devices-animation
				right 0
	#works
		#works-gallery
			.trabajo
				width  16.84%//16.84%//270px


					

						