@media only screen and (max-width:  975px) 
    .servicios, .trabajos, .contacto
        header
            height auto

    .holder 
        width auto

    #logo
        margin 0
        text-align center
        width 100%

      
        h1
            background url("../img/logo_big.png") no-repeat scroll left top transparent
            height 99px
            margin 29px auto 33px
            width 256px
    #idiomas
        display block
        border none
        margin 0 auto
        ul
            li
                display inline-block
     
    #menu 
        background-color rgba(0, 0, 0, 0.55)
        border-top 1px solid #333333
        margin 0
        width 100%
        
    

        ul
            float none
            margin 0 auto

    
            li
                border 0 none
    
    #slideshow-nav
        margin-left 0
        right 67px
        width auto

    #contenido
        background-color rgba(0, 0, 0, 0.55)
        margin 0 auto
        width auto

        #contenedor-inicio
            margin 0 auto
            width 100%

            article
                width 45%

        #contenedor-servicios
            margin 0 auto
            width 100%

        #contenedor-trabajos
            margin 0 auto
            width 100%

            h1
                text-align center

            .results-content, .tabs
                margin 0 auto
                width 584px
            .tabs
                margin-top 20px

        #contenedor-servicios
            h1
                text-align center
                margin-bottom 1em
            
            article
                width 45%
                display inline-block
                vertical-align top
                
            
                .servicio-descripcion
                    display block
                    width 100%

                    h2
                        text-align center

                .servicio-logo
                    display block
                    padding-right 0
                    width 100%
                

                    .icon-html5, .icon-facebook, .icon-wrench, .icon-wordpress, .icon-images
                        color #a9bf04
                        text-align center
        #contenedor-contacto
            h1
                text-align center
            .desc
                padding 0.5em

            #contacto-form
                padding 0.5em


@media only screen and (max-width:  707px) 
    #banner
        height 0
        margin-top 0
    
    #slideshow-nav, #slideshow
        display none


    footer
        height auto

        #suscripcion
            display inline-block
            float none

    #contenido
        #contenedor-trabajos
            .results-content
                width 286px


            .tabs
                width 286px 

                label
                    font-size 1em
                    height 30px
                    width 50px

                input
                    width 100px

                #tab-2
                    left 90px

                #tab-3
                    left 180px
        #contenedor-inicio, #contenedor-servicios
            
            width 100%

            article
                width 95%


         
               

@media only screen and (max-width:  400px) 
    
    #logo
             
        h1
            background url("../img/logo.png") no-repeat scroll left top transparent
            height 60px
            margin 20px auto
            width 187px

    #menu ul 
        width auto

        li
            display block

            a 
                border-bottom 1px solid #333333
                padding 0 15px
                text-align center
                height auto
                
                span
                    text-align center
                    display inline
                    font-size 1.5em

                   

                .icon-home, .icon-hammer, .icon-briefcase, .icon-envelop
                    font-size 1.5em
                    text-align center
                    padding-right .5em

    
    #contenido
        #contenedor-servicios, #contenedor-trabajos, #contenedor-contacto
            h1
                font-size 1.5em

            .servicio-descripcion
                h2
                    font-size 1.2em
                    text-align center

            .servicio-logo
                display block
                padding-right 0
                width 100%
            

                .icon-html5, .icon-facebook, .icon-wrench, .icon-wordpress, .icon-images
                    color #a9bf04
                    font-size 3em
                    text-align center

       
        #contenedor-inicio
            article
                .titulo
                    // .icon-image, .icon-envelop, .icon-social
                    //     font-size 3em
                    h1
                       font-size 1.2em 