@font-face {
	font-family: 'avotz';
	src:url('../fonts/avotz.eot?1fjwi');
	src:url('../fonts/avotz.eot?#iefix1fjwi') format('embedded-opentype'),
		url('../fonts/avotz.woff?1fjwi') format('woff'),
		url('../fonts/avotz.ttf?1fjwi') format('truetype'),
		url('../fonts/avotz.svg?1fjwi#avotz') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'avotz';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\f167";
}
.icon-bubbles:before {
	content: "\e600";
}
.icon-wordpress:before {
	content: "\e601";
}
.icon-html5:before {
	content: "\e602";
}
.icon-stats:before {
	content: "\e608";
}
.icon-linkedin:before {
	content: "\e609";
}
.icon-tools:before {
	content: "\e603";
}
.icon-pictures:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-googleplus:before {
	content: "\e607";
}
